{% extends "base.html" %}


{% block content %}

<main class="flex flex-col items-center h-lvh">
    <div
        class="p-12 bg-white shadow-xl ring-1 ring-gray-200 dark:bg-neutral-900 dark:ring-0 rounded-lg flex flex-col gap-y-2">
        <div class="flex flex-col gap-y-10">
            <div class="self-center rounded-full p-4 bg-secondary/70">{% lucide 'brain-circuit' size=35 %}</div>

            <div class="space-y-2">
                <h3 class="font-bold text-2xl uppercase">Image caption generator</h3>
                <p class="text-sm text-secondary text-center">AI-powered image captioning made easy</p>
            </div>

            <form action="{% url 'signup' %}" method="post" class="flex flex-col gap-y-6">
                {% csrf_token %}
                <div class="flex flex-col gap-y-2">
                    <label for="id_first_name" class="text-secondary">FirstName <span
                            class="text-red-500">*</span></label>
                    {{ form.first_name }}
                </div>

                <div class="flex flex-col gap-y-2">
                    <label for="lastname" class="text-secondary">LastName <span class="text-red-500">*</span></label>
                    {{ form.last_name }}
                </div>


                <div class="flex flex-col gap-y-2">
                    <label for="email" class="text-secondary">Email Address <span class="text-red-500">*</span></label>
                    {{ form.email }}
                </div>

                <div class="flex flex-col gap-y-2">
                    <label for="id_confirm_email" class="text-secondary">Confirm Email Address <span
                            class="text-red-500">*</span></label>
                    {{ form.confirm_email }}
                </div>

                <div class="flex flex-col gap-y-2">
                    <label for="id_password" class="text-secondary">Password <span class="text-red-500">*</span></label>
                    {{ form.password }}
                </div>

                <div class="flex flex-col gap-y-2">
                    <label for="id_confirm_password" class="text-secondary">Confirm Password <span
                            class="text-red-500">*</span></label>
                    {{ form.confirm_password }}
                </div>

                <button
                    class="px-4 py-2 rounded-lg bg-blue-500 hover:bg-blue-600 transition duration-200 cursor-pointer"
                    type="submit">Register</button>
            </form>
            {{ form.non_field_errors }}
        </div>

        {# <a href="#"
            class="underline decoration-indigo-800 underline-offset-1 text-indigo-800 hover:text-indigo-800/80 self-end">Forgot
            Password?</a>#}

        <hr class="mt-2 text-secondary" />

        <div class="flex justify-center items-center gap-x-3">
            <p class="text-secondary text-sm">Have an account?</p>
            <a href="{% url 'signin' %}"
                class="underline decoration-indigo-800 underline-offset-1 text-indigo-800 hover:text-indigo-800/80 self-end font-semibold capitalize">Login
                Here</a>
        </div>

    </div>
</main>


{% endblock %}