{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="">
        <section class="space-y-10">
            <div class="flex flex-col gap-y-4 items-center justify-center">
                <h1 class="text-3xl font-bold capitalize">Generate AI powered Captions for your images</h1>
                <h4 class="text-lg text-neutral-400 capitalize text-center max-w-md">upload images and get instant accurate captions with relevant tags powered by AI technology</h4>
            </div>

            {# upload images section/area #}
            <div id="upload-image-container" class="relative border border-dashed rounded-xl bg-neutral-800 p-16 flex flex-col items-center justify-center gap-y-7">
                <div class="p-6 rounded-full bg-neutral-500">{% lucide 'cloud-upload' size=50 %}</div>
                <h2 class="text-2xl font-bold text-neutral-400">Upload Images Here</h2>
                <form action="{% url 'upload-image' %}" method="post" enctype="multipart/form-data" class="" id="upload-form">
                    {% csrf_token %}
                    <input type="file" name="images" id="image-upload-input" accept="image/*" multiple class="" hidden>
                </form>
                <button id="image-upload-btn" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 font-semibold text-lg">Choose Files</button>
                <div id="upload-processing" class="absolute inset-0 bg-neutral-900/90 z-20 rounded-xl cursor-default hidden">
                    <div class="flex items-center justify-center gap-x-2">
                        <h3 class="font-bold text-2xl uppercase animate-pulse">Processing</h3>
                        <div class="size-4 rounded-full bg-white animate-ping"></div>
                    </div>
                </div>
            </div>

            {# caption generation status #}
{#            <div class="space-y-6">#}
{#                <h2 class="text-2xl font-bold text-neutral-100">Your Images & Captions</h2>#}
                {# card container #}
{#                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5">#}
                    {# card #}
{#                    <div class="p-5 ring-2 ring-neutral-800 rounded-lg space-y-4">#}
{#                        <img src="{% static 'images/test-img1.jpeg' %}" alt="" class="w-full h-auto object-cover rounded-lg" />#}
                        {# Todo: editable(to be implemented if time persists) caption #}
{#                        <div class="space-y-4">#}
{#                            <h4 class="font-semibold text-lg">Caption</h4>#}
{#                            <p class="p-4 rounded bg-neutral-800/60 w-full max-h-32 overflow-y-scroll">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur dicta et excepturi fuga in, ipsam odit optio provident quia quo quos, rem reprehenderit repudiandae tempore! Ad dolorem impedit rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere labore laborum obcaecati perspiciatis placeat, quibusdam quos sequi soluta sunt tempora, voluptas. Ab delectus eligendi quibusdam, repellendus sint vero vitae.#}
{#                            </p>#}
{##}
{#                            <h4 class="font-semibold text-lg">Tags</h4>#}
{#                            <div class="flex flex-wrap gap-3 text-sm">#}
{#                                <p class="rounded-full px-4 py-1 bg-green-400/50">forest</p>#}
{#                                <p class="rounded-full px-4 py-1 bg-rose-400/50">pathway</p>#}
{#                                <p class="rounded-full px-4 py-1 bg-yellow-400/50">sunlight</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="p-5 ring-2 ring-neutral-800 rounded-lg space-y-4">#}
{#                        <img src="{% static 'images/test-img1.jpeg' %}" alt="" class="w-full h-auto object-cover rounded-lg" />#}
                        {# Todo: editable(to be implemented if time persists) caption #}
{#                        <div class="space-y-4">#}
{#                            <h4 class="font-semibold text-lg">Caption</h4>#}
{#                            <p class="p-4 rounded bg-neutral-800/60 w-full max-h-32 overflow-y-scroll">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur dicta et excepturi fuga in, ipsam odit optio provident quia quo quos, rem reprehenderit repudiandae tempore! Ad dolorem impedit rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere labore laborum obcaecati perspiciatis placeat, quibusdam quos sequi soluta sunt tempora, voluptas. Ab delectus eligendi quibusdam, repellendus sint vero vitae.#}
{#                            </p>#}
{##}
{#                            <h4 class="font-semibold text-lg">Tags</h4>#}
{#                            <div class="flex flex-wrap gap-3 text-sm">#}
{#                                <p class="rounded-full px-4 py-1 bg-green-400/50">forest</p>#}
{#                                <p class="rounded-full px-4 py-1 bg-rose-400/50">pathway</p>#}
{#                                <p class="rounded-full px-4 py-1 bg-yellow-400/50">sunlight</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="p-5 ring-2 ring-neutral-800 rounded-lg space-y-4">#}
{#                        <img src="{% static 'images/test-img1.jpeg' %}" alt="" class="w-full h-auto object-cover rounded-lg" />#}
                        {# Todo: editable(to be implemented if time persists) caption #}
{#                        <div class="space-y-4">#}
{#                            <h4 class="font-semibold text-lg">Caption</h4>#}
{#                            <p class="p-4 rounded bg-neutral-800/60 w-full max-h-32 overflow-y-scroll">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur dicta et excepturi fuga in, ipsam odit optio provident quia quo quos, rem reprehenderit repudiandae tempore! Ad dolorem impedit rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere labore laborum obcaecati perspiciatis placeat, quibusdam quos sequi soluta sunt tempora, voluptas. Ab delectus eligendi quibusdam, repellendus sint vero vitae.#}
{#                            </p>#}
{##}
{#                            <h4 class="font-semibold text-lg">Tags</h4>#}
{#                            <div class="flex flex-wrap gap-3 text-sm">#}
{#                                <p class="rounded-full px-4 py-1 bg-green-400/50">forest</p>#}
{#                                <p class="rounded-full px-4 py-1 bg-rose-400/50">pathway</p>#}
{#                                <p class="rounded-full px-4 py-1 bg-yellow-400/50">sunlight</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="p-5 ring-2 ring-neutral-800 rounded-lg space-y-4">#}
{#                        <img src="{% static 'images/test-img1.jpeg' %}" alt="" class="w-full h-auto object-cover rounded-lg" />#}
                        {# Todo: editable(to be implemented if time persists) caption #}
{#                        <div class="space-y-4">#}
{#                            <h4 class="font-semibold text-lg">Caption</h4>#}
{#                            <p class="p-4 rounded bg-neutral-800/60 w-full max-h-32 overflow-y-scroll">#}
{#                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur dicta et excepturi fuga in, ipsam odit optio provident quia quo quos, rem reprehenderit repudiandae tempore! Ad dolorem impedit rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facere labore laborum obcaecati perspiciatis placeat, quibusdam quos sequi soluta sunt tempora, voluptas. Ab delectus eligendi quibusdam, repellendus sint vero vitae.#}
{#                            </p>#}
{##}
{#                            <h4 class="font-semibold text-lg">Tags</h4>#}
{#                            <div class="flex flex-wrap gap-3 text-sm">#}
{#                                <p class="rounded-full px-4 py-1 bg-green-400/50">forest</p>#}
{#                                <p class="rounded-full px-4 py-1 bg-rose-400/50">pathway</p>#}
{#                                <p class="rounded-full px-4 py-1 bg-yellow-400/50">sunlight</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </section>


    </main>

    <script>
        const imageUploadInput = document.getElementById("image-upload-input");
        const imageUploadBtn = document.getElementById("image-upload-btn");
        const imageUploadContainer = document.getElementById("upload-image-container");
        const uploadProcessing = document.getElementById("upload-processing");
        const uploadForm = document.getElementById("upload-form");

        imageUploadBtn.addEventListener("click", () => {
            imageUploadInput.click();
        });

        imageUploadInput.addEventListener("change", () => {
            uploadForm.submit();
            uploadProcessing.classList.remove("hidden");
        })


    </script>

{% endblock %}
